@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.Detal {
  background-color: #14161a;
  height: 150vh;
}
.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.data_imgi {
  width: 200px;
  height: 200px;
}
.img_namee {
  margin-top: 20px;
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 56.02px;
    text-align: left;
  }
}
.description {
  margin-bottom: 20px;
  margin-top: 24px;
  width: 395px !important;
  p {
    font-family: Montserrat !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 28px !important ;
    text-align: left !important;
    color: #f1f1f1;
  }
}
strong {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.02px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.wait {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.02px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.chcrtt {
  display: flex;
  align-items: center;
  max-width: 1290px;
  padding-top: 300px;
}
.btn1 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  padding: 11px 128px 11px 21px;
  border-radius: 5px;
  background-color: #87ceeb;
  outline: none;
  cursor: pointer;
  border: none;
}
.btn2 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  padding: 11px 128px 11px 21px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid #87ceeb;
}
.btn3 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  padding: 11px 128px 11px 21px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid #87ceeb;
}
.btn4 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  padding: 11px 128px 11px 21px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid #87ceeb;
}
.bnn_grup {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 28px;
}
.texxtt {
  height: 787px !important ;
  color: red !important;
  width: 3px !important;
}
